*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h3{
	font-family: "Calibri";
	font-size: 28px;
	letter-spacing: 1px;
	width: 100%;
	background: #2B3543;
	border-radius: 8px;
	padding: 15px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}


#container{
	background: #202026;
	width: 100%;
	height: 100vh;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
}

#container form{
	background: #FFF;
	width: 380px;
	padding: 10px;
	border-radius: 10px;
}


#container form img{
	margin: 15px auto;
	text-align: center;
	display: block;
	width: 100px;
	height: auto;
}

#container form input{
	width: 90%;
	padding: 5px;
	font-size: 16px;
	display: block;
	margin: 25px auto;
	border-radius: 8px;
	border: 1px solid #b2babb;
}

#container form input[type="submit"]{
	background:linear-gradient(180deg, #208181, #206881);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	width: 50%;
	padding: 10px;
	color: #FFF;
	letter-spacing: 1px;
	border: 0;
	cursor: pointer;
}

.alert{
	font-family: Calibri;
	font-size: 16px;
	text-align: center;
}